*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 12px;
}
.goods-list-v2{
    margin-bottom: 20px;
    height: auto;
    position: relative;
    z-index: 1;
}
.gl-warp{
    width: 1200px;
    height: auto;
    margin-right: -40px;
}
.goods-list-v2 .gl-item{
    width: 240px;
    height: 474px;
    float: left;
    position: relative;
    z-index: 1;
    margin-top: 10px;
}
ul {
    list-style: none;
}
.haier-sea{
    width:220px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    background: #fff;
    border: 1px solid #fff;
    padding: 38px 9px 10px;
    transition: border-color .1s ease;
}
.goods-list-v2 .gl-item .p-tag {
    float: left;
    height: 16px;
    padding: 0 3px;
    margin-top: 2px;
    margin-right: 3px;
    overflow: hidden;
    color: #fff;
    font: 12px/16px "Helvetica Neue","Hiragino Sans GB",SimSun,serif;
    background: #838dc7;
    border-radius: 2px;
}
.goods-list-v2 .gl-item:hover .haier-sea{
    z-index: 1;
    border-color: #e9e9e9;
    box-shadow: 0 0 2px 2px #f8f8f8;
}
.h-img{
    margin-bottom: 15px;
}
.h-money{
    line-height: 22px;
    height: 22px;
    width: 100%;
    margin: 0 0 8px;
}
.h-money strong{
    color: #e1251b;
    font-size: 20px;
    font-weight: 400;
    font-family: Verdana;
}
.jiage em{
    font-size: 16px;
}
em,i{
    font-style: normal;
}
.jiage-a{
    margin-left: -7px;
}
.h-commit{
    margin-bottom: 9px;
}
.pingjia-a{
    margin-left: -4px;
}
.h-commit a{
    color: #646fb0;
    font-family: Verdana;
    font-weight: 700;
}
.pingjia-a{
    color: #a7a7a7;
    font-weight: 400;
}
a{
    color: #666;
    text-decoration: none;
}
.Hai{
    color: #e1251b;
}
.air{
    color: #e1251b;
}
.goods-list-v2 .gl-item .p-name-type-1 a em{
 display: inline;
}
.h-name em{
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    transition: height .08s ease;
}
.h-name{
    margin-bottom: 8px;
}
.h-shop span a{
    color: #999;
}
.h-shop{
    line-height: 18px;
    height: 18px;
    margin-top: -3px;
    margin-bottom: 9px;
}
.h-shop span{
    display: inline-block;
    position: relative;
    height: 18px;
}
.im-02{
    width: 16px;
    height: 16px;
}
.h-shop span .im-02{
    cursor: pointer;
    position: absolute;
    right: -21px;
    top: 1px;
    display: block;
}
.h-icons{
    height: 16px;
    margin-bottom: 12px;
}
.self-support,
.buy-at-ease {
    position: relative;
}

.self-support:hover .tooltip1 {
    display: block;
}

.buy-at-ease:hover .tooltip2 {
    display: block;
}

.tooltip1{
    display: none;
    position: absolute;
    z-index: 1;
    top: 25px;
    width: 237px;
    margin-left: -11px;
    height: 35px;
    line-height: 35px;
    background-color: white;
    border: 1px solid grey;
    color:#666;

}
.tooltip2{
    display: none;
    position: absolute;
    z-index: 1;
    top: 25px;
    left: -31px;
    width: 237px;
    margin-left: -11px;
    height: 35px;
    line-height: 35px;
    background-color: white;
    border: 1px solid grey;
    color:#666;
}

.tooltip1::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 10px;
    padding: 3px;
    background-color: inherit;
    border: inherit;
    border-right: 0;
    border-bottom: 0;
    transform: rotate(45deg);
}
.tooltip2::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 43px;
    padding: 3px;
    background-color: inherit;
    border: inherit;
    border-right: 0;
    border-bottom: 0;
    transform: rotate(45deg);
}
.ziti1{
    margin-left: 6px;
}
.ziti2{
    margin-left: 8px;
}
.skcolor_ljg:hover{
    color: #e23a3a;
}
.h-operate .h-o-btn:hover{
    color: #e4393c;
    z-index: 1;
    border-color:#e4393c;
}
.h-operate .contrast:hover i{
    border-color: #e4393c;
}
.self-support{
    float: left;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    padding: 0 3px;
    margin-right: 3px;
    background: #e23a3a;
    color: #FFF;
    font-family: "Helvetica Neue","Hiragino Sans GB",SimSun,serif;
    border-radius: 2px;
}
.buy-at-ease{
    float: left;
    font-family: "Helvetica Neue","Hiragino Sans GB",SimSun,serif;
    height: 14px;
    line-height: 14px;
    padding: 0 3px;
    border: 1px solid #e23a3a;
    border-radius: 2px;
}
.h-operate .contrast{
    width: 28px;
}
.h-operate .follow{
    width: 28px;
}
.h-operate{
    position: relative;
    width: 220px;
    height: 27px;
}
.h-operate .h-o-btn{
    float: left;
    height: 25px;
    line-height: 25px;
    border: 1px solid #DDD;
    padding: 0px 5px 0px 24px;
    position: relative;
    background: #fff;
    color: #999;
}
.h-operate .contrast i{
    position: absolute;
    left: 5px;
    top: 5px;
    display: inline-block;
    height: 12px;
    width: 12px;
    border:1px solid #ccc;
    font-size: 0px;
}
.kongxin{
    position: absolute;
    display: block;
    font-style: normal;
    left: 4px;
    top: 3px;
    width: 18px;
    height: 18px;
    background: url(img/search.ele.png);
    background-position: 0 -413px;
}
.h-operate .follow:hover .kongxin {
    background: url(img/search.ele.png);
    background-position: 0 -436px;
    transition: background-position 0.3s ease-in-out;
}
.h-operate .follow, .shopping-cart{
    margin-left: -1px;
}
.h-operate .shopping-cart{
    width: 67px;
    text-align: center;
    color: #e4393c;
}
.h-operate .shopping-cart i{
    position: absolute;
    display: block;
    font-style: normal;
    left: 4px;
    top: 3px;
    width: 18px;
    height: 18px;
    background: url(img/search.ele.png)0 -272px;
}
.clearfix{
    width: 1200px;
    height: 38px;
}
.page .p-wrap{
    float: right;
}
.pege .p-num{
    float: left;
}
.page .disabled{
    background:0 0;
    background: #fff;
    cursor: default;
}
.page .p-num a{
 color: #333;
    border: 1px solid #ddd;
}
.page .p-num a{
    float: left;
    height: 36px;
    line-height: 36px;
    padding: 0 14px;
    margin-right: 5px;
    font-size: 14px;
}
/*.page .p-num .disabled{
    color: #ccc;
}*/
/*.page .p-num .pn-prev i{
    padding-left: 0;
}*/
.page .p-num .pn-prev i {
    vertical-align: middle;
    font-style: normal;
    font-size: 16px;
    font-family: "\5b8b\4f53";
    padding: 0 5px;
/*    color: #aaa;*/
}
/*.page .p-num .disabled em{
    color: #ccc;
}*/
.page .p-num .pn-next em, .page .p-num .pn-prev em {
    vertical-align: middle;
}
.page .p-skip {
    float: left;
    margin-left: 20px;
}
.page .p-skip em {
    float: left;
    line-height: 38px;
    font-size: 14px;
}
.page .p-skip .input-txt {
    float: left;
    width: 30px;
    height: 30px;
    margin: 0 3px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
}
.input-txt{
    border: 1px solid #CCC;
    padding: 3px;
}
.page .p-skip em {
    float: left;
    line-height: 38px;
    font-size: 14px;
}
.page .p-skip .btn {
    float: left;
    height: 27px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 27px;
}
.btn-default {
    border: 1px solid #DDD;
    padding: 4px 13px 5px;
    color: #666;
    background-color: #f7f7f7;
    background-repeat: repeat-x;
}
.btn {
    display: inline-block;
    line-height: 14px;
    height: 14px;
    border-radius: 2px;
    background: #F7F7F7;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.p-num a.curr {
    border: 0 none;
    padding: 1px 15px;
    background: 0 0;
    -webkit-filter: none;
    filter: none;
    color: #e4393c;
    cursor: default;
}